
<section class='main_section'>
  <div class='wrapper'>

    <div class="main_section_header">
      <h1>Diaries</h1>

      <a href="/diaries/new/" class="create_new">Create new diary</a>
    </div>

    <ul>
      <% @diaries.each do |diary| %>
        <li>
          <%= link_to diary.title, new_crud_diary_path(@diaries.ids) %>
        </li>
    
        <br>
      <% end %>
    </ul>

  </div>
</section>



<h1>List of diaries</h1>

<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Options</th>
    </tr>
  </thead>

  <% @diaries.each do |diary| %>
    <tr>
      <td><%= link_to diary.title, @diary %></td>

        
    </tr>
  <% end -%>
</table>


